$white: #FFF;
$light: #F5F5F5;
$black: #292043;

$primary: #396CE8;
$dark-primary: #23235c;
$dark: #635C7F;
$light-dark: #D1CAE7;
$yellow: #FFD494;
$light-primary: #c0d3ff33;
$light-primary-gray: #A4B8E9;
$light-mint: #f3fafa;
$purple:#815AF0;
$dark-purple:#23235C;
$light-purple: #c0bbff;
$light-blue: #a7d0fe;
