$white: #FFF;
$primary: #3B61FF;
$blue: #5B9DFF;
$azure: #5EB8F4;
$black: #000;
$grey: #949698;
$dark: #292D32;
$light: #F7F7F9;
$drab: #C8C8D0;
$green: #34A853;
$red: #FF3E4C;
$dark-red: #D80027;
$orang: #F79E1B;
$yellow: #F6B307;
$cyan: #89f2fd;

$dark-blue: #273978;
$dark-grey: #50575E;
$dark-brown: #212121;

$light-white:#ffffffcc;
$light-cream:#FFF8EE;
$light-gray: #292d3280;
$light-azure: #F0FFFF;
$light-purple: #EEF3FF;
$light-dark: #5A5A5A;

$easy-gray: #f5f6fd;
$easy-azure: #EFF5F9;
$easy-drab: #E3E3E3;
$easy-blue: #a0aeba;
$easy-cream: #F0F0F0;
$easy-gray-cream: #FAFAFA;

$sky-blue : #b8dce8;
$sky-azure : #00a7de;
$sky-grey : #F5F5F5;
$sky-light : #F7F9FF;

